/* Add a black background color to the top navigation */
.nav {
    background-color: #272343;
    /* padding-top: 0 !important;
    padding-bottom: 0 !important; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 8vh;
}

.myContainer {
    height: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logoDiv {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    width: 50%;
    height: 80%;
    position: relative;
    margin-top: 5%;
}

/* Style the links inside the navigation bar */
.topnav #Link {
   text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    border-radius: 50%;
    padding: 2%;
    height: 100%;
}

.logout {
    color: red !important;
    text-shadow: #ddd;
}

/* Change the color of links on hover */
.topnav #Link:hover {
    background-color: #edb1f1;
    color: #0a58ca;
    font-weight: 1000 !important;
    /* color: black; */
}

/* Add an active class to highlight the current page */
#Link.active {
    /* background-color: #04AA6D; */
    color: green;
    font-weight: 900;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
    padding: 16px;
}

@media screen and (max-width: 900px) {
    .register{
        margin-top: 3rem;
    }
    nav {
        height: 5vh;
    }

    .logo {
        height: 4vh;
        width: 6vw;
    }

    .topnav #Link {
        /* background-color: hsl(180, 24%, 20%); */
        z-index: 5;
        margin-left: 200px;
    }

    .topnav #NotPressed {
        display: none;
    }

    .icon {
        display: block;
    }

    .topnav {
        flex-direction: column;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav #Link {
        margin-left: 70px;
    }

    .icon {
        display: block;
        padding: 5px;
    }

    .topnav {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    nav {
        height: 30px;
    }
}

